{% load static %}
<!DOCTYPE html>
<html class="wide wow-animation" lang="en"> 
  <head>
    <title>Excolo | Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="{% static 'images/logo.ico' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poppins:300,300i,400,500,600,700,800,900,900i%7CPT+Serif:400,700">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
        <p>Loading...</p>
      </div>
    </div>
    <div class="page">
      <!-- Page Header-->
      <header class="section page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel"> 
                  <!-- RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!-- RD Navbar Brand-->
                  <div class="rd-navbar-brand"><a href="/"><img class="brand-logo-light" src="{% static 'images/logo_2.png' %}" alt="" width="140" height="57" srcset="{% static 'images/logo_2.png' %} 2x"/></a></div>
                </div>
                <div class="rd-navbar-main-element">
                  <div class="rd-navbar-nav-wrap">
                    <!-- RD Navbar Nav-->
                    <ul class="rd-navbar-nav">
                      <li class="rd-nav-item active"><a class="rd-nav-link" href="/">Home</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="contacts">Contacts</a>
                      </li>
                    </ul>
                  </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- Swiper-->
      <section class="section section-lg section-main-bunner section-main-bunner-filter text-center">
        <div class="main-bunner-img" style="background-image: url(&quot;/static/images/meat2.jpg&quot;); background-size: cover;"></div>
        <div class="main-bunner-inner">
          <div class="container">
            <div class="box-default">
              <h1 class="box-default-title">Welcome</h1>
              <div class="box-default-decor"></div>
              <p class="big box-default-text">Looking for freshly prepared traditional and organic food and beverage for private and corporate events, Excolo Holdings is the right place for you.</p>
            </div>
          </div>
        </div>
      </section>
      <div class="bg-gray-1">
        <section class="section-transform-top">
          <div class="container">
            <div class="box-booking">
              <form class="rd-form rd-mailform booking-form" method="POST" action="/">
                <div>
                  <p class="booking-title">Name</p>
                  <div class="form-wrap">
                    {{quote_form.name}}
                  </div>
                </div>
                <div>
                  <p class="booking-title">Surname</p>
                  <div class="form-wrap">
                    {{quote_form.surname}}
                  </div>
                </div>
                <div>
                  <p class="booking-title">Email</p>
                  <div class="form-wrap">
                    {{quote_form.email}}
                  </div>
                </div>
                <div>
                  <p class="booking-title">Phone</p>
                  <div class="form-wrap">
                    {{quote_form.phone}}
                  </div>
                </div>
                <div>
                  <button class="button button-lg button-gray-600" type="submit">Get a Quote</button>
                </div>
                {% for message in messages %}
                <h5 style="text-align: center;">{{message}}</h5>
                {% endfor %}
                {% csrf_token %}
              </form>
            </div>
          </div>
        </section>
        <section class="section section-lg section-inset-1 bg-gray-1 pt-lg-0">
          <div class="container">
            <div class="row row-50 justify-content-xl-between align-items-lg-center">
              <div class="col-lg-6 wow fadeInLeft">
                <div class="box-image"><img class="box-image-static" src="{% static 'images/fulltable.jpg' %}" alt="" width="483" height="327"/>
                </div>
              </div>
              <div class="col-lg-6 col-xl-5 wow fadeInRight">
                <h2>About Us</h2>
                <p>
                   Excolo holdings provide consultation, setup, freshly prepared traditional and organic food and
                   beverage for private and corporate events. The aim is to keep guests well-fed with
                   scrumptious food, refreshments and snacks, while creating memorable events for them.
                </p>
                <p>
                    The
                    company focus is distinct as it has a particular market it targets “high earners” who don’t mind
                    spending to be provided with private catering, or exquisite accommodation or even prepare
                    innovative approach entertainment events, while adhering to all COVID19 regulations.
                </p>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!-- Featured Offers-->
      <section class="section section-lg bg-default">
        <div class="container">
          <div class="row justify-content-center text-center">
            <div class="col-md-9 col-lg-7 wow-outer">
              <div class="wow slideInDown">
                <h2>Our Services</h2>
                <p class="text-opacity-80">We do not only offer catering services. Below are all the services we provide.</p>
              </div>
            </div>
          </div>
          <div class="row row-20 row-lg-30">
            <div class="col-md-6 col-lg-4 wow-outer">
              <div class="wow fadeInUp">
                <div class="product-featured">
                  <div class="product-featured-figure"><img src="{% static 'images/enter.jpg' %}" alt="" width="370" height="395"/>
                  </div>
                  <div class="product-featured-caption">
                    <h4><a class="product-featured-title" href="#">Entertainment</a></h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 wow-outer">
              <div class="wow fadeInUp">
                <div class="product-featured">
                  <div class="product-featured-figure"><img src="{% static 'images/meat.jpg' %}" alt="" width="370" height="395"/>
                  </div>
                  <div class="product-featured-caption">
                    <h4><a class="product-featured-title" href="#">Catering</a></h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 wow-outer">
              <div class="wow fadeInUp">
                <div class="product-featured">
                  <div class="product-featured-figure"><img src="{% static 'images/accom.jpg' %}" alt="" width="370" height="395"/>
                  </div>
                  <div class="product-featured-caption">
                    <h4><a class="product-featured-title" href="#">Accommodation</a></h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Page Footer-->
      <footer class="section footer-minimal context-dark">
        <div class="container wow-outer">
          <div class="wow fadeIn">
            <div class="row row-60">
              <div class="col-12"><a href="index.html"><img src="{% static 'images/logo_2.png' %}" alt="" width="140" height="50" srcset="{% static 'images/logo_2.png' %}  2x"/></a></div>
              <div class="col-12">
                <ul class="footer-minimal-nav">
                  <li><a href="contacts">Contacts</a></li>
                </ul>
              </div>
            </div>
            <p class="rights"><span>&copy;&nbsp; </span><span class="copyright-year"></span><span>&nbsp;</span><span>Excolo Holdings</span><span>.&nbsp;</span><span>All Rights Reserved.</span><span>&nbsp;</span><a href="#">Privacy Policy</a>.</p>
          </div>
        </div>
      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="{% static 'js/core.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>